* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  color: #fff;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  transition: 0.3s ease;
  margin: 10px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #333;
}
